.profilePicModalMainContentWrapper {

}

.profilePicModalHeaderWrapper {
    display: flex;
    border-bottom: 1px solid var(--modal_border_color);
    flex-direction: column;
    padding: 14px 20px;
    gap: 26px;
}

.profilePicModalHeader {
    display: flex;
    align-items: center;
    color: var(--text_color);
}

.profilePicModalMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 24px;
}

.defaultProfilePicModalImg, .profilePicModalImg {
    width: 120px;
    height: 120px;
    fill: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
    object-fit: cover;
}

.profileDefaultPicModalImg {
    width: 60px;
    height: 60px;
}

.profilePicTxt {
    font-weight: 200;
    text-align: center;
    color: var(--text_color);
}

.profilePicModalFooterWrapper {
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 24px
}  

.profilePicModalBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: var(--text_color);
    min-width: 48.8px;
}

.profilePicModalBtn:hover {
    background-color: black;
    color: white;
}

.defaultProfilePicModalImg:hover {
    fill: black;
    background-color: white;
}

@media (max-width: 500px) {
    .defaultProfilePicModalImg, .profilePicModalImg {
        width: calc(120px + (100vw - 500px) / 10);
        height: calc(120px + (100vw - 500px) / 10);
    }
    .profileDefaultPicModalImg {
        width: calc(60px + (100vw - 500px) / 15);
        height: calc(60px + (100vw - 500px) / 15);
    }
    .profilePicTxt {
        font-size: calc(16px + (100vw - 500px) / 150);
    }
    .profilePicModalBtn {
        padding-right: calc(10px + (100vw - 500px) / 100);
        padding-left: calc(10px + (100vw - 500px) / 100);
        padding-top: calc(8px + (100vw - 500px) / 100);
        padding-bottom: calc(8px + (100vw - 500px) / 100);
    }
}