.friendModalBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: var(--text_color);
    min-width: 112.8px;
}

.friendModalBtn.addMemberLoader {
    background-color: black;
}

.friendModalBtn.closeBtn {
    min-width: unset;
    width: fit-content;
}

.friendModalHeaderWrapper {
    display: flex;
    border-bottom: 1px solid var(--modal_border_color);
    flex-direction: column;
    padding: 14px 20px;
    gap: 26px;
}

.friendModalHeader {
    display: flex;
    align-items: center;
    color: var(--text_color);
}

.friendsModalSearchInputWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.friendsModalSearchIcon {
    min-width: 15px;
    min-height: 15px;
    max-height: 15px;
    max-width: 15px;
    fill: rgb(140, 140, 140);
}

.friendsModalSearchInput {
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;
    background-color: var(--modal_background_color);
    color: var(--text_color);
}

.friendModalBtn:hover{
    background-color: black;
    color: white;
}

.friendModalMainContentWrapper {
    display: flex;
    flex-direction: column;
}

.friendModalMainContent {
    max-height: 400px;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.friendModalMainContent::-webkit-scrollbar {
    width: 0;
}

.friendModalFooterWrapper {
    border-top: 1px solid var(--modal_border_color);
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
}

.friendModalSentUserContentWrapper {
    display: flex;
    gap: 16px;
    padding: 15px 25px;
    align-items: center;
    cursor: pointer;
    color: var(--text_color);
}

.friendModalSentUserContentWrapper.addedMember {
    background-color: black;
    color: white;
}

.friendModalSentUserContentWrapper.addedMember:hover {
    background-color: black;
}

.friendModalSentUserContentWrapper.addedMember .friendModalDefaultProfileImgWrapper {
    background-color: white;
    color: black;
}

.friendModalSentUserContentWrapper:hover {
    background-color: var(--chatWrapper_notInChat_hover_background_color);
}

.friendModalDefaultProfileImgWrapper, .friendModalProfileImg {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 50%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    object-fit: cover;
}

.friendModalDefaultProfileImg {
    font-size: 20px;
    font-weight: 500;
}

.friendModalUserName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.friendModalRemoveBtn {
    margin-left: auto;
    background-color: transparent;
    border: 2px solid rgb(255, 100, 100);
    color: rgb(255, 100, 100);
    border-radius: 8px;
    padding: 4px 6px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    transition: all 0.2s ease-in-out;
}

.friendModalRemoveBtn:hover {
    background-color: rgb(255, 100, 100);
    color: white;
}

@media (max-width: 500px) {
    .friendModalBtn {
        padding-right: calc(10px + (100vw - 500px) / 100);
        padding-left: calc(10px + (100vw - 500px) / 100);
        padding-top: calc(8px + (100vw - 500px) / 100);
        padding-bottom: calc(8px + (100vw - 500px) / 100);
    }
}