.mainWrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.chatsWrapper {
    width: 40%;
}

.informModalWrapper {
    position: fixed;
    display: flex;
    align-items: center;
    top: 65px;
    right: 15px;
    padding: 12px;
    background-color: black;
    border: 2px solid blue;
    border-radius: 8px;
    color: white;
    transform: translateX(1500px);
    transition: transform 0.5s ease-in-out;
    z-index: 9999;
}

.informModalWrapper.open {
    transform: translateX(0px);
}

.informModalWrapper.redColor {
    border-color: rgb(255, 100, 100);
}

.informModalWrapper.greenColor {
    border-color: rgb(0, 170, 0);
}

.informModalTxt {
    font-size: 15px;
    font-weight: 400;
}

.informModalIconWrapper {
    width: 32px;
    height: 18.4px;
    display: flex;
    justify-content: flex-end;
}

.informModalIcon {
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.chatsContent {
    width: 100%;
    height: 100vh;
    position: relative;
    border-right: 1px solid var(--border_color);
    transition: border-right 0.2s ease-in-out
}

.chatsNavBar {
    padding: 10px 8px 10px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    height: 53.4px;
    position: relative;
    z-index: 2;
    background-color: var(--background_color);
    transition: background-color 0.2s ease-in-out;
}

.hamburgerMenu {
    min-width: 20px;
    min-height: 20px;
    max-height: 20px;
    max-width: 20px;
    cursor: pointer;
    fill: rgb(169, 169, 169);
    transition: all 0.2s ease-in-out;
}

.hamburgerMenu:hover {
    fill: black;
}

.navSearchInput {
    outline: none;
    border: 2px solid var(--background_color);
    padding: 7px 12px;
    background-color: var(--background_color);
    border-radius: 4px;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    width: 100%;
    color: var(--text_color);
}

.navSearchInput:focus {
    border-color: var(--nav_searchInput_border_color);
}






.fullPageWrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: transparent;
    opacity: 1;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.fullPageWrapper.open {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 100;
    pointer-events: auto;
}

.sideBarWrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--background_color);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, background-color 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.sideBarWrapper.open {
    transform: translateX(0%);
}

.sideBarContent {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sideBarUserInfoWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 16px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
}

.sideBarDefaultProfileImg, .sideBarProfileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 600;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    object-fit: cover;
}

.sideBarUserName {
    font-weight: 500;
    font-size: 12px;
    color: var(--text_color);
    transition: color 0.2s ease-in-out;
}

.sideBarOptionsWrapper {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.optionWrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.option {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 16px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text_color);
    transition: color 0.2s ease-in-out;
}

.option:hover > .optionIconWrapper {
    background-color: var(--background_color);
    fill: var(--icon_fill_hover_color);
}

.optionIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon_background_color);
    width: 25px;
    height: 25px;
    background-color: var(--icon_background_color);
    border-radius: 4px;
    fill: var(--icon_fill_color);
    transition: all 0.2s ease-in-out;
}

.optionIcon {
    width: 14px;
    height: 14px;
}

.sideBarFooterWrapper {
    padding: 25px;
    margin-top: auto;
}

.sideBarLogOutBtn, .sideBarCloseBtn {
    border: 2px solid rgb(255, 100, 100);
    color: rgb(255, 100, 100);
    border-radius: 8px;
    padding: 6px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 31.2px;
}

.sideBarLogOutBtn.logOutLoader {
    background-color: rgb(255, 100, 100);
}

.sideBarLogOutBtn:hover {
    background-color: rgb(255, 100, 100);
    color: white;
}

.sideBarCloseBtn {
    border: 2px solid var(--text_color);
    color: var(--text_color)
}

.sideBarCloseBtn:hover {
    background-color: var(--text_color);
    color: var(--icon_fill_color);
}

.friendAndGroupChatsWrapper {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    padding-top: 53.4px;
    top: 0;
    left: 0;
    background-color: var(--background_color);
    transition: background-color 0.2s ease-in-out;
}

.friendAndGroupChatsWrapper::-webkit-scrollbar {
    width: 0;
}

.friendAndGroupChatsContent {
    display: flex;
    flex-direction: column;
}

.chatWrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text_color);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.chatWrapper.inChat {
    background-color: black;
    color: white;
}

.chatWrapper:not(.inChat):hover {
    background-color: var(--chatWrapper_notInChat_hover_background_color)
}   

.chatDefaultImgWrapper, .chatImg {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    color: white;
}

.chatImg {
    background-color: transparent;
}

.chatWrapper.inChat .chatDefaultImgWrapper {
    background-color: white;
    color: black;
}

.chatDefaultImg {
    font-size: 20px;
    font-weight: 500;
}

.chatName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatMessagesSectionWrapper {
    width: 60%;
    position: relative;
}

@media (max-width: 500px) {
    .chatsWrapper {
        width: 100%;
        z-index: 0;
    }   
    .chatsContent {
        border-right: none;
    }
    .fullPageWrapper {
        background-color: transparent;
    }
    .sideBarWrapper {
        width: 100%;
    }
    .sideBarFooterWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .chatMessagesSectionWrapper {
        position: fixed;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, background-color 0.2s ease-in-out;
        z-index: 5;
        width: 100%;
        height: 100%;
    }
    .chatMessagesSectionWrapper.open {
        transform: translateX(0%);
    }
}
  