.messagesWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.messagesInformModalWrapper {
    position: fixed;
    display: flex;
    align-items: center;
    top: 65px;
    right: 15px;
    padding: 12px;
    background-color: black;
    border: 2px solid rgb(0, 170, 0);;
    border-radius: 8px;
    color: white;
    transform: translateX(1500px);
    transition: transform 0.5s ease-in-out;
    z-index: 9999;
}

.messagesInformModalWrapper.open {
    transform: translateX(0px);
}

.messagesInformModalWrapper.redColor {
    border-color: rgb(255, 100, 100);
}

.messagesInformModalWrapper.greenColor {
    border-color: rgb(0, 170, 0);
}

.messagesInformModalTxt {
    font-size: 15px;
    font-weight: 400;
}

.messagesInformModalIconWrapper {
    width: 32px;
    height: 18.4px;
    display: flex;
    justify-content: flex-end;
}

.messagesInformModalIcon {
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.messagesFullPageWrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.messagesModalContent {
    background-color: var(--modal_background_color);
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.messagesHeaderWrapper {
    height: 53.4px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--background_color);
    transition: background-color 0.2s ease-in-out;
    z-index: 20;
}

.messagesHeaderContent {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.messageHeaderChatImg, .messageHeaderDefaultChatImgWrapper {
    min-width: 33.4px;
    min-height: 33.4px;
    max-width: 33.4px;
    max-height: 33.4px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageHeaderDefaultChatImg {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.messageHeaderChatName {
    font-weight: 400;
    color: var(--text_color);
    transition: color 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messageHeaderRemoveBtn {
    margin-left: auto;
    border: 2px solid rgb(255, 100, 100);
    color: rgb(255, 100, 100);
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.messageHeaderRemoveBtn:hover {
    background-color: rgb(255, 100, 100);
    color: white;
}

.verticalEllipsisMenu {
    margin-left: auto;
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: rgb(160, 160, 160);
    position: relative;
}

.groupOptionsModalWrapper {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--modal_background_color);
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 6px;
    transition: background-color 0.2s ease-in-out;
}

.groupOptionsModalBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: var(--text_color);
}   

.groupOptionsModalBtn.red {
    color: rgb(255, 100, 100);
}

.groupOptionsModalBtn:hover {
    background-color: black;
    color: white;
}

.groupOptionsModalBtn.red:hover {
    color: white;
    background-color: rgb(255, 100, 100);
}

.messagesContent {
    padding-top: 53.4px;
    padding-bottom: 44.2px;
    height: 100%;
    overflow-y: scroll;
    transition: all 0.2s ease-in-out;
}

.messagesContent::-webkit-scrollbar {
    width: 0;
}

.messagesFooterWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 100%;
    border-top: 1px solid var(--border_color);
    background-color: var(--background_color);
    transition: background-color 0.2s ease-in-out, border-top 0.2s ease-in-out;
    z-index: 20;
}

.messagesFooterContent {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 20px;
}

.messagesFooterForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.messagesFooterInput {
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    background-color: var(--background_color);
    color: var(--text_color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.submitArrowBtn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    fill: rgb(150, 150, 150);
    transition: all 0.2s ease-in-out;
}

.submitArrowBtn:hover {
    fill: black;
}

.submitArrowBtn.hasTxt {
    fill: black;
}

.submitArrow {
    width: 18px;
    height: 18px;
}

.chatMessageWrapper {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 12px;
    position: relative;
}

.chatMessageWrapper.usersMsg {
    justify-content: flex-end;
}

.chatMessageWrapper.usersMsg .messageSenderImg,
.chatMessageWrapper.usersMsg .messageSenderDefaultImgWrapper {
  order: 2;
}

.chatMessageWrapper.usersMsg .messageTxt {
    order: 1;
}

.chatMessageWrapper.usersMsg .messageInfoWrapper {
    right: unset;
    left: 0;
}

.chatMessageWrapper.usersMsg .messageSenderUserName,
.chatMessageWrapper.usersMsg .messageBullet {
    display: none;
}

.chatMessageWrapper.userEvent {
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

.chatMessageWrapper.userEvent .messageTxt {
    padding: 0;
    font-size: 12px;
    color: rgb(150, 150, 150);
    transition: none;
    background-color: transparent;
    order: 1;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    pointer-events: none;
}

.chatMessageWrapper.userEvent .messageInfoWrapper {
    position: relative;
    padding: 0;
    font-size: 10px;
    order: 2;
}

.chatMessageWrapper.userEvent .messageSenderUserName,
.chatMessageWrapper.userEvent .messageBullet {
    display: none;
}

.messageSenderImg, .messageSenderDefaultImgWrapper {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.messageSenderDefaultImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.messageSenderDefaultImg {
    font-size: 16px;
    font-weight: 500;
}

.messageTxtWrapper {
    position: relative;
}

.messageTxt {
    background-color: var(--background_messageTxt_color);
    padding: 6px 10px;
    max-width: 500px;
    border-radius: 8px;
    font-size: 14px;
    color: var(--text_color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    overflow-wrap: break-word;
}

.deleteMsgModalWrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--modal_background_color);
    padding: 4px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 6px;
    z-index: 100;
    transition: background-color 0.2s ease-in-out;
}   

.deleteMsgModalBtn {
    color: rgb(255, 100, 100);
    fill: rgb(255, 100, 100);
    padding: 6px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.deleteMsgIconImg {
    width: 12px;
    height: 12px;
}

.deleteMsgModalBtn:hover {
    fill: white;
    color: white;
    background-color: rgb(255, 100, 100);
}

.messageInfoWrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    display: flex;
    justify-content: end;
    font-size: 12px;
    gap: 4px;
    color: rgb(150, 150, 150);
    font-weight: 400;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.messageSenderUserName {

}

.messageDate {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}





.messagesLoaderWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0);
}

.messagesLoader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #000000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 1536.1px) and (max-width: 100vw) {
    .messageInfoWrapper {
        font-size: calc(12px + (100vw - 1536px) / 160);
        gap: calc(4px + (100vw - 1536px) / 500);
     }
     .messageTxt {
         max-width: calc(500px + (100vw - 1536px) / 2.7);
     }
}

@media (max-width: 1536px) {
    .messageInfoWrapper {
       font-size: calc(12px + (100vw - 1536px) / 160);
       gap: calc(4px + (100vw - 1536px) / 500);
    }
    .chatMessageWrapper.userEvent .messageTxt {
        width: fit-content;
        font-size: calc(12px + (100vw - 1536px) / 250);
    }
    .chatMessageWrapper.userEvent .messageDate {
        font-size: calc(10px + (100vw - 1536px) / 250);
    }
    .messageTxt {
        max-width: calc(500px + (100vw - 1536px) / 2.7);
    }
    .messageSenderUserName {
        max-width: calc(217px + (100vw - 1536px) / 6);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    .messagesModalContent {
        width: calc(400px + (100vw - 500px) / 1.6);
    }
    .messagesHeaderContent {
        gap: 8px;
    }
    .messagesHeaderContent.centerGlobal .messageHeaderChatName {
        display: none;
    }
    .goBackBtnWrapper {
        margin-right: auto;
    }
    .goBackArrow {
        min-width: 10px;
        min-height: 10px;
        max-height: 10px;
        max-width: 10px;
        fill: var(--text_color);
    }
    .goBackBtn {
        display: flex;
        align-items: center;
        gap: 2px;
        text-decoration: none;
        color: var(--text_color);
        font-weight: 400;
    }
    .chatMessageWrapper {
        padding-right: calc(15px + (100vw - 500px) / 22);
        padding-left: calc(15px + (100vw - 500px) / 22);
    }
    .messageInfoWrapper {
        padding-right: calc(15px + (100vw - 500px) / 22);
        padding-left: calc(15px + (100vw - 500px) / 22);
        font-size: calc(8px + (100vw - 500px) / 250);
        gap: calc(2px + (100vw - 500px) / 250);
    }
    .messageSenderUserName {
        max-width: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .chatMessageWrapper.userEvent .messageTxt {
        max-width: calc(500px + (100vw - 500px) / 100);
        font-size: calc(10px + (100vw - 500px) / 100);
    }
    .chatMessageWrapper.userEvent .messageDate {
        font-size: calc(8px + (100vw - 500px) / 100);
    }
    .messageTxt {
        max-width: calc(300px + (100vw - 500px) / 1.15);
    }
    .messagesFooterInput {
        font-size: 16px;
    }
}