.removeFriendModalContent {
    background-color: var(--modal_background_color);
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.removeFriendModalMainContentWrapper {
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.removeFriendModalMainContent {

}

.removeFriendModalTxt {
    font-size: 14px;
    color: var(--text_color);
}

.removeFriendModalFooterWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.removeFriendModalBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: var(--text_color);
    min-width: 76px;
}

.removeFriendModalBtn.red {
    color: rgb(255, 100, 100);
}

.removeFriendModalBtn.red:hover {
    color: rgb(255, 100, 100);
    background-color: rgb(255, 100, 100);
    color: white;
}

.removeFriendModalBtn:hover {
    background-color: black;
    color: white;
}

@media (max-width: 500px) {
    .removeFriendModalContent {
        width: calc(400px + (100vw - 500px) / 1.6);
    }
    .removeFriendModalBtn {
        padding-right: calc(10px + (100vw - 500px) / 100);
        padding-left: calc(10px + (100vw - 500px) / 100);
        padding-top: calc(8px + (100vw - 500px) / 100);
        padding-bottom: calc(8px + (100vw - 500px) / 100);
    }
}